{{!-- An image that links to a page that generates two random dice image --}}
<div id="dice-main-layout">    
    <h1 class="header-metadata">Welcome!</h1>   
    <a href="/random">
        <img src="/2_dice.png" alt="Image of 2 dice" style="width:400px;height:300px;">
    </a>
    <h4 class="header-metadata">Click on the image to roll the dice!</h4>
</div>
